/*-- Generic Styles --*/
/*----------------------------------------------------------------------------*/
body {
	background-color: white;
	margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: black;
}

body.scroll {
	overflow: visible;
}

a:link{text-decoration:none;color:none;}
a:visited{text-decoration:none;color:none;}
a:hover{text-decoration:none;color:none;}
a:active{text-decoration:none;color:none;}

/*-- Selection Styles --*/
::selection {background-color: #C8102E; color:white;}
::-moz-selection {background-color: #C8102E;  color:white;}
::-o-selection {background-color: #C8102E;  color:white;}
::-ms-selection {background-color: #C8102E;  color:white;}
::-webkit-selection {background-color: #C8102E;  color:white;}

/*-- Dividers --*/
/*----------------------------------------------------------------------------*/
.sh_main {
	height: 100%;
	width: 100%;
	background-color: white;
}
.sh_main_bg {
	background-image: url("../img/main_light.jpg");
	background-position: center;
	background-size: cover;
}
#hold {
	width: 100%;
}
#color_hold {
	margin-top: 20px;
	width: 100%;
	background-color: #C8102E;
}
#splash {
	width: 85%;
	max-width: 1200px;
	font-size: 40px;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 40px;
	color: #C8102E;
	font-family: 'Open Sans', sans-serif;
 }
 #splash_title {
 	width: 85%;
 	max-width: 1200px;
 	font-size: 30px;
 	text-align: left;
 	color: #C8102E;
	background-color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: -20px;
  }

.fadeInBlock {
    opacity:0;
}


#value_box {
	color: white;
	width: 48%;
	display: inline-block;
	text-align: left;
	min-width: 500px;
		overflow: auto;
	vertical-align: top;
	margin-bottom: 20px;
}

#value_icon {
	width: 150px;
	height: 150px;
	display: inline-block;
}

#value_other {
	vertical-align: top;
	width: 60%;
	display: inline-block;
}

#value_title {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;

}

#lower_value {
	display: inline-block;
	font-size: 18px;
	margin-left: 20px;
	float: right;
}

.v_image {
	background-position: center;
	background-size: 90% 90%;
	background-repeat: no-repeat;
}

.profile {
	background-image: url("../img/icons/profile.png");
}

.sisterhood {
	background-image: url("../img/icons/user.png");
}

.dev {
	background-image: url("../img/icons/briefcase.png");
}

.sinc {
	background-image: url("../img/icons/agenda.png");
}

.serv {
	background-image: url("../img/icons/worldwide.png");
}

.part {
	background-image: url("../img/icons/megaphone.png");
}

























@media (max-width: 1444px) {
	#value_box {
		width: 100%;
		display: block;
		height: auto;
		min-width: 1px;
		overflow: auto;
		text-align: center;
	 }
	 #value_icon {
	 	width: 150px;
	 	height: 150px;
	 	display: inline-block;
	 }
	 #value_other {
	 	vertical-align: top;
	 	width: 70%;
	 	display: inline-block;

	 }

	 #value_title {
	 	display: inline-block;
	 	vertical-align: top;
	 	margin-left: 0px;
	 	font-family: 'Montserrat', sans-serif;
	 	text-transform: uppercase;
	 	letter-spacing: 2px;

	 }

	 #lower_value {
	 	display: inline-block;
	 	font-size: 18px;
	 	margin-left: 0px;
	 	float: right;
	 }

}



@media (max-width: 730px) {
	#splash {
		font-size: 20px;
	 }
}





/* EOF */