/* Testing Divs */
/* -------------------------------------------------------------------------- */




/* General */
/* -------------------------------------------------------------------------- */
body {
  background-color: white;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}
.animate {
  transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}
.content-holder {
  width: 100%;
  max-width: 1200px;

}
::selection { background-color: #c8102e; color: white; }
::-o-selection { background-color: #c8102e; color: white; }
::-ms-selection { background-color: #c8102e; color: white; }
::-moz-selection { background-color: #c8102e; color: white; }
::-webkit-selection { background-color: #c8102e; color: white; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
/* Navigation */
/* -------------------------------------------------------------------------- */
.nav-full {
  width: 100%;
  position: fixed;
  z-index: 1000;
}
.nav-holder {
  width: 100%;
  text-align: left;
  max-width: 1200px;
}
.nav-logo-words {
  font-size: 20px;
  letter-spacing: 3px;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.main {
  margin-left: 10px;
}
.nav-img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
  background-position: center;
  background-image: url("../img/small.png");
}
.nav-item-holder {
  float: right;
  margin-right: 15px;
  display: inline-block;
}
.nav-item {
  font-size: 15px;
  padding-top: 12px;
  margin-left: 15px;
  letter-spacing: 1px;
  padding-bottom: 8px;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  font-family: 'Montserrat', sans-serif;
}
.nav-activate {
  display: none;
  padding-top: 11px;
  float: right;
  margin-right: 15px;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}
.nav-mobile {
  display: none;
  margin-left: 10px;
  font-size: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}
.nav-mobile-item {
  color: white;
  margin-top: 20px;
}
.nav-full-top {
  padding-top: 40px;
  padding-bottom: 40px;
}
.nav-full-scrolling {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05), 0 1px 1px rgba(0,0,0,0.05);
}
.nav-color-top {
  color: white;
}
.nav-color-scrolling {
  color: #c8102e;
}
.nav-item-hover-top:hover {
  border-bottom: 2px solid white;
}
.nav-item-hover-scroll:hover {
  border-bottom: 2px solid #c8102e;
}
@media (max-width: 1110px) {
  .nav-item-holder {
    display: none;
  }
  .nav-full-top {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .nav-full-scrolling {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-activate {
    display: inline-block;
  }
}
@media (max-width: 540px) {
  .sub {
    display: none;
  }
}
/* Landing image */
/* -------------------------------------------------------------------------- */
.landing-image-block {
  width: 100%;
  height: 90%;
  display: flex;
  position: relative;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-position: center;
  font-family: 'Montserrat', sans-serif;
  background-image: url("../img/main_light.jpg");
}
#land-word {
  color: white;
  font-weight: 700;
  font-size: 150px;
  text-transform: uppercase;
}
#landing-words {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.become {
  margin-bottom: -60px;
  margin-left: -120px;
}
.inspired {
  margin-top: -60px;
  margin-right: -120px;
}
@media (max-width: 1110px) {
  #land-word {
    font-size: 150px;
  }
}
@media (max-width: 1000px) {
  #land-word {
    font-size: 150px;
  }
}
@media (max-width: 825px) {
  #land-word {
    font-size: 100px;
  }
  .become {
    margin-bottom: -30px;
    margin-left: -100px;
  }
  .inspired {
    margin-top: -30px;
    margin-right: -100px;
  }
}
@media (max-width: 575px) {
  #land-word {
    font-size: 75px;
  }
  .become {
    margin-bottom: -10px;
    margin-left: -50px;
  }
  .inspired {
    margin-top: -10px;
    margin-right: -50px;
  }
}
@media (max-width: 400px) {
  #land-word {
    font-size: 40px;
  }
}


.welcome-holder {
  padding-top: 40px;

}
.welcome-large {
  color: #c8102e;
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  width: 73%;
}
.welcome-small {
  font-size: 25px;
  text-align: left;

  max-width: 900px;
  margin-left: 10px;
  margin-right: 10px;
  color: #4b5767;
}





































/* Footer */
/* -------------------------------------------------------------------------- */
.foot-full {
  width: 100%;
  border-top: solid 1px  rgba(0,0,0,0.05);
}
.foot-holder {
  width: 100%;
  max-width: 1200px;
}
.box {
  height: auto;
  text-align: left;
  padding-bottom: 40px;
  padding-top: 20px;
  align: top;
}
.x3 {
  display: inline-block;
}
.left { float: left; margin-left: 10px; }
.right { float: right; margin-right: 10px; }
.nav-img-footer {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
  background-position: center;
  background-image: url("../img/small.png");
}
.footer-item {
  color: #c8102e;
  font-size: 15px;
  letter-spacing: 1px;
  display: block;
  padding-top: 15px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  font-family: 'Montserrat', sans-serif;
}
.footer-item-link:hover {
  color: #810a1e;
}
.footer-item-link-dsp:hover {
  color: #104428;
}
.footer-margin {
  margin-left: -5px;
}
.footer-item-icon {
  color: #c8102e;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding-top: 15px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  font-family: 'Montserrat', sans-serif;
  margin-right: 10px;
}
.footer-no-img {
  width: 1px;
  height: 40px;
  margin-right: -1px;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
  background-position: center;
  background-image: url("../img/small-space.png");
}
.dsp {
  color: #1E824C;
}
@media (max-width: 950px) {
  .x3 {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }
  .left {float:none; margin-left: 10px;}
  .right { float: none; margin-right: 10px}
  .box {
    text-align: center;
  }
}










/* End */
