/*-- Class modifier styles --*/
/*----------------------------------------------------------------------------*/
.animate {
  transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}
.right {
  float: right;
  font-size: 15px;
  margin-left: 10px;
}
.left {
  float: left;
  font-size: 17px;
}
/*-- Logo styles --*/
/*----------------------------------------------------------------------------*/
.nav_img {
  width: 100px;
  height: 100px;
  display: inline;
  margin-right: 10px;
  vertical-align: middle; 
}
.nav_img.small {
  width: 50px;
  height: 50px;
}
/*-- Nav holding styles --*/
/*----------------------------------------------------------------------------*/
#header {
  width: 100%;
  color: white;
  position: fixed;
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  z-index: 3;
  height: 100px;
}
#header.past-main {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #C8102E;
  height: 50px;
}
.red {
  background-color: #C8102E;
}
#navigation {
	width: 85%;
  text-align: left;
  max-width: 1200px;
  font-weight: normal;
  letter-spacing: 3px;
  background-color: #C8102E;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
#small_menu_items {
  float: right;
  display: none;
}
#large_menu_items {
  display:block;
}
/*-- Nav box styles --*/
/*----------------------------------------------------------------------------*/
.option_styles {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.option_styles:hover {
  color: #EED484;
  border-bottom: 1px solid  #EED484; 
}
.log_in_styles {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.log_in_styles:hover {
  color: #EED484;
}
#nav_option {margin-top: 30px;}
#nav_option1 {margin-top: 32px;}
#nav_option2 {margin-top: 30px;}
#nav_option3 {margin-top: 30px;}
#nav_option4 {margin-top: 30px;}
#nav_option5 {margin-top: 30px;}
#nav_option6 {margin-top: 30px;}
#nav_option_small {margin-top: 30px;}
#nav_option.spacing {margin-top: 5px;}
#nav_option1.spacing {margin-top: 7px;}
#nav_option2.spacing {margin-top: 5px;}
#nav_option3.spacing {margin-top: 5px;}
#nav_option4.spacing {margin-top: 5px;}
#nav_option5.spacing {margin-top: 5px;}
#nav_option6.spacing {margin-top: 5px;}
/*-- Nav divider styles --*/
/*----------------------------------------------------------------------------*/
.divide_styles {
  color: #EED484;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
#nav_divide {margin-top: 30px;}
#nav_divide1 {margin-top: 30px;}
#nav_divide2 {margin-top: 30px;}
#nav_divide3 {margin-top: 30px;}
#nav_divide4 {margin-top: 30px;}
#nav_divide.space {margin-top: 5px;}
#nav_divide1.space {margin-top: 5px;}
#nav_divide2.space {margin-top: 5px;}
#nav_divide3.space {margin-top: 5px;}
#nav_divide4.space {margin-top: 5px;}
/*-- Spacer styles --*/
/*----------------------------------------------------------------------------*/
#spacer {
  height: 160px;
  position: fixed;
}
#spacer.shrink {height: 70px;}
/*-- Dropdown styles --*/
/*----------------------------------------------------------------------------*/
#m_dropdown {
  display: none;
  text-transform: uppercase;
  width: 100%;
  z-index: 2;
  background-color: #C8102E;
  margin-top: -20px;
  font-size: 15px;
}
#drop_item_top {
  width: 100%;
  background-color: #C8102E;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  z-index: 1;
  margin-top: 20px;
}
#drop_item {
  width: 100%;
  background-color: #C8102E;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  z-index: 1;
}
#drop_item_bottom {
  width: 100%;
  background-color: #C8102E;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  z-index: 1;
  padding-bottom: 20px;
}
#mobile_hold {
  width: 85%;
  max-width: 1200px;
}
/*-- Mobile Responsive --*/
/*----------------------------------------------------------------------------*/
@media (max-width: 1400px) {
  #header {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50px;
  }
  #navigation {
    letter-spacing: 0px;
  }
  #spacer {
    height: 90px;
  }
  .right {font-size: 15px;}
  .left {font-size: 15px;}
  .nav_img {width: 50px; height: 50px;}
  #nav_option {margin-top: 5px;}
  #nav_option1 {margin-top: 7px;}
  #nav_option2 {margin-top: 5px;}
  #nav_option3 {margin-top: 5px;}
  #nav_option4 {margin-top: 5px;}
  #nav_option5 {margin-top: 5px;}
  #nav_option6 {margin-top: 5px;}
  #nav_divide {margin-top: 5px;}
  #nav_divide1 {margin-top: 5px;}
  #nav_divide2 {margin-top: 5px;}
  #nav_divide3 {margin-top: 5px;}
  #nav_divide4 {margin-top: 5px;}
  #nav_option_small {margin-top: 5px;}
}
@media (max-width: 1050px) {
  #large_menu_items {
    display: none;
  }
  #small_menu_items {
    display: inline-block;
  }
  #spacer {
    height: 50px;
  }
  #m_dropdown {
    padding-top: 50px;
  }
  .option_styles:hover {
    color: white;
    border-bottom: 1px solid  transparent; 
  }
}
@media (max-width: 425px) {
  .right {
    font-size: 10px;
  }
  .left {
    font-size: 15px;
  }
  .option_styles{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .nav_img.small {
    width: 30px;
    height: 30px;
  }
  .nav_img {
    width: 30px;
    height: 30px;
  }
  #header {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;
  }
  #m_dropdown {
    padding-top: 40px;
  }
  #nav_option {margin-top: 0px;}
  #nav_option.spacing {margin-top: 0px;}
  #nav_option_small {margin-top: 5px;}
  #nav_option1 {margin-top: 0px;}
  #nav_option1.spacing {margin-top: 0px;}
  #nav_option_small {margin-top: 3px;}
  #spacer {
    height: 50px;
  }
  #spacer.shrink {height: 50px;}
  #header.past-main {
    height: 30px;
  }
}