/*-- Generic Styles --*/
/*----------------------------------------------------------------------------*/
body {
	background-color: white;
	margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: black;
}

a:link{text-decoration:none;color:none;}
a:visited{text-decoration:none;color:none;}
a:hover{text-decoration:none;color:none;}
a:active{text-decoration:none;color:none;}

/*-- Slideshow --*/
/*----------------------------------------------------------------------------*/
#jumbo {
	width: 100%;
}

.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
	z-index: -100;
}

.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

 #splash {
	 width: 85%;
	 max-width: 1200px;
	 font-size: 40px;
	 text-align: left;
	 padding-top: 20px;
	 padding-bottom: 40px;
	 color: #C8102E;
	 font-family: 'Open Sans', sans-serif;
 }

#more {
	width:100%;
	background-color: #C8102E;
	padding-top: 30px;
}

#squeeze {
	width: 85%;
	max-width: 1200px;
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
}

#item_box {
	width: 48.5%;
	height: 125px;
	margin-bottom: 30px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;

}

#title {
	font-size: 25px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.left_box {
	margin-right: 10px;
}

.right_box {
	margin-left: 10px;
}

#display {
	width: 25%;
	float: left;
	height:100%;
	text-align: center;
}





























/* EOF */