/*-- Class modifier styles --*/
/*----------------------------------------------------------------------------*/
.animate {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.right {
  float: right;
  font-size: 15px;
  margin-left: 10px;
}
.left {
  float: left;
  font-size: 17px;
}

/*-- Logo styles --*/
/*----------------------------------------------------------------------------*/
.nav_img {
  width: 100px;
  height: 100px;
  display: inline;
  margin-right: 10px;
  vertical-align: middle; 
}
.nav_img.small {
  width: 50px;
  height: 50px;
}

/*-- Nav holding styles --*/
/*----------------------------------------------------------------------------*/
#header {
  width: 100%;
  color: black;
  text-transform: uppercase;
  position: fixed;
  background-color: #C8102E;
  padding-top: 30px;
  padding-bottom: 30px;
}
#header.past-main {
  padding-top: 10px;
  padding-bottom: 10px;
}
#navigation {
  background-color: #C8102E;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
	width: 85%;
	max-width: 1200px;
  text-align: left;
}
#small_menu_items {
  display: none;
  float: right;
}
#large_menu_items {
  display:block;
}
/*-- Nav box styles --*/
/*----------------------------------------------------------------------------*/
.option_styles {
  color: #EED484;
  display: inline-block;
  border-top: 1px solid #C8102E;
  border-bottom: 1px solid #C8102E;
  padding-top: 10px;
  padding-bottom: 10px;
}
.option_styles:hover {
  border-bottom: 1px solid  #EED484; 
  color: #EED484;
}
#nav_option {margin-top: 30px;}
#nav_option2 {margin-top: 30px;}
#nav_option3 {margin-top: 30px;}
#nav_option4 {margin-top: 30px;}
#nav_option5 {margin-top: 30px;}
#nav_option6 {margin-top: 30px;}
#nav_option_small {margin-top: 30px;}
#nav_option.spacing {margin-top: 5px;}
#nav_option2.spacing {margin-top: 5px;}
#nav_option3.spacing {margin-top: 5px;}
#nav_option4.spacing {margin-top: 5px;}
#nav_option5.spacing {margin-top: 5px;}
#nav_option6.spacing {margin-top: 5px;}

/*-- Nav divider styles --*/
/*----------------------------------------------------------------------------*/
.divide_styles {
  color: #EED484;
  display: inline-block;
  border-top: 1px solid #C8102E;
  border-bottom: 1px solid #C8102E;
  padding-top: 10px;
  padding-bottom: 10px;
}
.divide_styles:hover {
  border-bottom: 1px solid  #EED484; 
  color: #EED484;
}
#nav_divide {margin-top: 30px;}
#nav_divide2 {margin-top: 30px;}
#nav_divide3 {margin-top: 30px;}
#nav_divide4 {margin-top: 30px;}
#nav_divide.space {margin-top: 5px;}
#nav_divide2.space {margin-top: 5px;}
#nav_divide3.space {margin-top: 5px;}
#nav_divide4.space {margin-top: 5px;}

/*-- Spacer styles --*/
/*----------------------------------------------------------------------------*/
#spacer {
  background-color: white;
  height:160px;
}
#spacer.shrink {height: 70px;}

/*-- Dropdown styles --*/
/*----------------------------------------------------------------------------*/
#dropdown {
  width: 100%;
  background-color: #C8102E;
  display: none;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
#drop_item {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #EED484;
  text-decoration: none;
  font-size: 15px;
}

/*-- Mobile Responsive --*/
/*----------------------------------------------------------------------------*/
@media (max-width: 1350px) {
  .nav_img {
    width: 50px;
    height: 50px;
  }
  #header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .right {
    font-size: 15px;
  }
  .left {
    font-size: 15px;
  }
  #navigation {
    letter-spacing: 0px;
  }
  #spacer {
    height:90px;
  }
  #nav_option {margin-top: 5px;}
  #nav_option2 {margin-top: 5px;}
  #nav_option3 {margin-top: 5px;}
  #nav_option4 {margin-top: 5px;}
  #nav_option5 {margin-top: 5px;}
  #nav_option6 {margin-top: 5px;}
  #nav_option_small {margin-top: 5px;}
  #nav_divide {margin-top: 5px;}
  #nav_divide2 {margin-top: 5px;}
  #nav_divide3 {margin-top: 5px;}
  #nav_divide4 {margin-top: 5px;}
}

@media (max-width: 1000px) {
  #large_menu_items {
    display: none;
  }
  #small_menu_items {
    display: inline-block;
  }
  #spacer {
    height: 90px;
  }
}

@media (max-width: 425px) {
  #header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav_img {
    width: 30px;
    height: 30px;
  }
  #nav_option {margin-top: 0px;}
  #nav_option.spacing {margin-top: 0px;}
  #nav_option_small {margin-top: 3px;}
  .right {
    font-size: 10px;
  }
  .left {
    font-size: 15px;
  }
  .option_styles{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .nav_img.small {
    width: 30px;
    height: 30px;
  }
  #spacer {
    height: 50px;
  }
  #spacer.shrink {height: 50px;}
}
/*-- EOF --*/

