/*-- Generic Styles --*/
/*----------------------------------------------------------------------------*/
body {
	background-color: white;
	margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: black;
}

a:link{text-decoration:none;color:none;}
a:visited{text-decoration:none;color:none;}
a:hover{text-decoration:none;color:none;}
a:active{text-decoration:none;color:none;}
/*-- Above footer directions --*/
/*----------------------------------------------------------------------------*/
#directions_container {
	width: 100%;
	max-width: 1200px;
	background-color: red;
}





































/*-- Slideshow --*/
/*----------------------------------------------------------------------------*/
#jumbo {width: 100%;}
.mySlides {display:none}
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
	z-index: -100;
}
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*-- Logo styles --*/
/*----------------------------------------------------------------------------*/



#splash {
	width: 85%;
	max-width: 1200px;
	font-size: 40px;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 40px;
	color: #C8102E;
	font-family: 'Open Sans', sans-serif;
 }
#more {
	width:100%;
	background-color: #C8102E;
	padding-top: 30px;
}

#item_box {
	width: 48.5%;

	height: 125px;
	margin-bottom: 30px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;

}

#item_box:hover {
	color: #EED484;
}
#title {
	font-size: 25px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

.left_box {
	margin-right: 10px;
}

.right_box {
	margin-left: 10px;
}

#display {
	width: 25%;
	float: left;
	height:100%;
	text-align: center;
}

#mob_display {
	display:none;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}





















@media (max-width: 1240px) {
	#item_box {
		height: 200px;
	 }
	 #display {
		 display: none;
	 }
	 #mob_display {
		 display: block;
	 }
	 .left_box {
	 	margin-right: 0px;
	 }
	 .right_box {
	 	margin-left: 0px;
	 }
}


@media (max-width: 730px) {
	#splash {
		font-size: 20px;
	 }
}





/* EOF */