#q_title {
  color: black;
  text-transform: uppercase;
  font-size: 40px;
  width: 100%;
  text-align: left;
}
#line {
  width: 100%;
  height: 2px;
  background-color: #C8102E;
  margin-top: 15px;
}
#sub_title {
  margin-top: 10px;
  font-size: 24px;
  line-height: 36px;
  color: black;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;

}
#quote_box {
  width: 49%;
  height: 250px;
  margin-top: 30px;
  display: inline-block;
  vertical-align: top;
}
#quote_box:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#profile {
  float: left;
  height: 100%;
  background-color: #EED484;
  width: 25%;
}
#q_name {
  width: 70%;
  vertical-align: top;
  font-size: 30px;
  margin-left: 10px;
  float: left;
  text-transform: uppercase;
}
#q_position {
  width: 70%;
  vertical-align: top;
  font-size: 20px;
  margin-left: 10px;
  float: left;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}
#q_quote {
  width: 70%;
  vertical-align: top;
  font-size: 20px;
  margin-left: 10px;
  float: left;
  margin-top: 10px;
  color: black;
}


.prof-1 {
  background-image: url("../../img/prof.jpg");
  background-position: center;
  background-size: cover;
}
.prof-2 {
  background-image: url("../../img/prof2.jpg");
  background-position: center;
  background-size: cover;
}



@media (max-width: 760px) {
  #q_title {
    font-size: 25px;
  }
  #sub_title {
    font-size: 20px;
    line-height: 30px;
  }
}